[main]
;minimum connections for IP for including in stats
minimum=300

;default template
template=conntrack

;default action
action=conntrack

;get hosts to ips
gethosts=true

;default sorting column
sort=1

mode=production
;mode=development

;killer
default_connections = 2500
kill=false

mail_from = "my@email.com"
mail_to[] = "example@email-adderss.com"
mail_to[] = "example2@email-addresss.com"